
.recipe-container {

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    }

.image-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

.recipe-img {
    display: flex;
    border-radius: 15%;
    width: 100px;
    height: 100px;
    /* border: 1px solid var(--navbar-grey); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.recipes-grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

.recipes-grid p {
    margin-top: 10px;
    font-family: var(--font);
    size: 0.75em;
    text-align: center;
    padding: 0px 5px;
  
}
  .recipe-instructions{
    font-size: 0.7em;

  }
  li {
    font-size: 0.8em;
    list-style-type: none;
    line-height: 1.2rem;
  }

.btnRecipe {
  background-color: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
.recipe_text_link {
  /* border: 1px solid blueviolet; */
  color: var(--text-color);
}

/* -----SEARCH Component Section */

.recipe_search_container {
  display: flex;
  position: relative;
  padding-left: 3px;
  padding-right: 3px;
}

input {
  width: 80%;
  border-radius: 15px;
  padding-left: 35px;
  font-size: 0.8rem;
  border: 1px solid #cfcece;
}

input::placeholder {
  color: rgb(201, 200, 200);
  font-size: 0.8rem;
  text-transform: uppercase;
  
}

input:focus {
 outline-color: var(--primary-blue);
}

/* --------------------------------------- */

/* SEARCH BTN ------------------------ */
.search_btn {
  display: flex;
  margin-left: 5px;
  padding: 10px 20px;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  border-radius: 40px;
  cursor: pointer;
}

.search_btn:hover {
  border: 1px solid #ffffff;
  background-color: #b4b3b1;
  color: #ffffff;
}

.search_btn :active {
    border: 1px solid #ffffff;
    background-color: #b4b3b1;
    color: #ffffff;
}

.s_icon {
  position: absolute;
  color: var(--navbar-grey);
  top: 11px;
  left: 15px
}
/* ----------------------------------- */

/* Recipe-detail-Component ------------*/

.recipe-detail-container {
  /* border: 1px solid red; */
  margin-top: 10px;
  position: relative;
}

.recipe-title {
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 10px;
  position: absolute;
  background-color: var(--primary-blue);
  border-radius: 30px;
  color: #fff;
}

.recipe-card-img{
  width: 100%;
  height: 260px;
}

.recipe-instructions {
  font-size: 0.9rem;
  padding: 10px;
  line-height: 1.5rem;
  /* border: 1px solid rgb(15, 54, 228); */
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
.ingredients_container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #d1cece;
  border-radius: 10px;
  margin-top: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.ingredients_heading {
  width: 100%;
  padding: 10px;
  margin-left:20px;
}