
.recipe-container {

    display: flex;
    flex-direction: column;

    margin-top: 20px;

    }

.recipe-img {
    display: flex;
    border-radius: 15%;
    width: 100px;
    height: 100px;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .recipe-search-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom: 25px;
  }

  .recipes-grid p {
    margin-top: 10px;
    font-family: var(--font);
    size: 0.75em;
    text-align: center;
    padding: 0px 5px;
  
  }

  input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
  }