* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shopping-food-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  width: 96vw;
  height: 14.6vh;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.shopping-card-image {
  border-radius: 50%;
  width: 5rem;
  height: auto;
}
.shopping-food-card-image-container {
  position: relative;
}
.quantity-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-blue);
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  color: #EEEEEE;
  font-weight: bolder;
}
.shopping-card-title {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-weight: 600;
  font-size: 1rem;
  font-family: var(--font);
  padding: 0;
  margin: 0;
}
.shopping-food-card-title-container {
  display: flex;
  max-width: 120px;
  min-width: 120px;
  justify-content: center;
  flex: 1;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 10px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.food-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 1.5rem;
}
.shopping-food-card-count-buttons button {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: var(--font);
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 2.2rem;
  height: 2.2rem;
}
.shopping-food-card-use-btns {
  /* need to have these bttons in a column and centered in the card with a slight gap between them */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.shopping-food-card-use-btn {
  background-color: white;
  border: none;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
#useFood {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
#deleteFood {
  width: 2.2rem;
  height: 2.2rem;
}