:root {

    --primary-blue: #10a7e6;
    --navbar-grey: #868686;
    --background-white: #FFFFFF;
    --main-font: "Roboto Condensed", sans-serif
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  .header-container {
    background-color: red;
    height: 10vh;
  }
  
  .page-title {
    font-family: var(--main-font);
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
  }
  
  .content-container {
    height: 80vh;
    background-color: var(--background-white);

  }
  
  .styles-container {
    
    max-height: 100vh;
    max-width: 428px;
    margin: 0 auto;
    border: 1px black solid;
  }
  
  
  .link {
    text-decoration: none;
    
   
  } 
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: #DDDDDD;
    border-top:  0.25vh solid var(--primary-blue) ;
    padding-left: 1vh;
    padding-right: 1vh;
    
  }
  
  .navbar-icon {
    /* display: grid;
    grid-template-columns: center repeat(5, 2); */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--navbar-grey);
    font-family: var(--main-font);
    /* font size is the icon size */
    font-size: 3vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  
  }
  
  .navbar-icon:hover {
    color: var(--primary-blue);
  }
  
  .navbar-icon-image {
    margin-bottom: 0.1vh;
    
    
  }
  
  .navbar-icon-name {
    font-family: var(--main-font);
    font-size: 1vh;
  }
  
  .navbar-icon-blue {
    color: var(--primary-blue);
  }

  .navbar-icon-grey {
    color: var(--navbar-grey);
  }
  .pantry-btn {
    background-color: var(--primary-blue);
  }
  
