:root {
  --primary-blue: #10a7e6;
  --primary-amber: #fc7c25;
  --primary-orange: #fdba4d;
  --primary-green: #27ab5f;
  --red: #ea324c;
  --white: #eeeeee;
  --background-white: #FFFFFF
  --grey: #dddddd;
  --navbar-grey: #868686;
  --font: "Roboto Condensed", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: white;
  height: 10vh;
  z-index: 1;
  position: sticky;
}

.page-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.content-container {
  height: 80vh;
  background-color: var(--background-white);
  overflow-y: auto;
  z-index: 0;
  padding: 15px;
}

.app-container {
  background-color: var(--grey);
  max-height: 100vh;
  max-width: 428px;
  margin: 0 auto;
  border-style: solid;
  box-shadow: 0 0 1px black;
}

.styles-container {
  background-color: var(--grey);
  max-height: 100vh;
  max-width: 428px;
  margin: 0 auto;
  border-style: solid;
  box-shadow: 0 0 1px black;
}

  .link {
    text-decoration: none;
  } 
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: #DDDDDD;
    border-top:  0.25vh solid var(--primary-blue) ;
    padding-left: 1vh;
    padding-right: 1vh;
    z-index: 1;
    position: sticky;
    
  }
  
  .navbar-icon {
    /* display: grid;
    grid-template-columns: center repeat(5, 2); */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--navbar-grey);
    font-family: var(--font);
    /* font size is the icon size */
    font-size: 3vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-icon:hover {
    color: var(--primary-blue);
  }
  
  .navbar-icon-image {
    margin-bottom: 0.1vh;
    
    
  }
  
  .navbar-icon-name {
    font-family: var(--font);
    font-size: 1vh;
  }
  
  .navbar-icon-blue {
    color: var(--primary-blue);
  }

  .navbar-icon-grey {
    color: var(--navbar-grey);
  }
  .pantry-btn {
    background-color: var(--primary-blue);
  }
  


