:root {
  --primary-blue: #10a7e6;
  --primary-amber: #fc7c25;
  --primary-orange: #fdba4d;
  --primary-green: #27ab5f;
  --red: #ea324c;
  --white: #eeeeee;
  --grey: #dddddd;
  --font: "Roboto Condensed", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: white;
  height: 10vh;
  z-index: 1;
  position: sticky;
}

.page-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

.content-container {
  height: 80vh;
  background-color: var(--white);
  overflow-y: auto;
  z-index: 0;
  padding: 15px;
}

.styles-container {
  background-color: var(--grey);
  max-height: 100vh;
  max-width: 428px;
  margin: 0 auto;
  border-style: solid;
  box-shadow: 0 0 1px black;
}

.foodContainer {
  background-color: #EEEEEE;
  border-radius: 10px;
  border: 1px solid #424242;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.foodItemContainer{
  display: flex;
  flex-direction: row;
  /* border: 1px solid #ea324c; */
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  padding: 2px;
}

.foodimage {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
  


.navbar-container {
  height: 10vh;
  z-index: 1;
  position: sticky;
}

.pantry-btn {
  background-color: var(--primary-green);
}
