.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.burger-image {
    padding: 10px;
}

.donate-btn {
    background-color: var(--primary-orange);
    padding: 3px;
    border-radius: 5px;
    font-family: var(--font);
    border-style: none;
    margin-top: 3px;
}

