.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  width: 100%;
  padding: 0 10px;
  margin: 0;
  position: sticky;
  top: 0;
}

.donate-btn {
  width: 60px;
  height: 40px;
  background-color: var(--primary-orange);
  border-radius: 5px;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  border-style: none;
  cursor: pointer;
  text-align: center;
}

.donate-btn:hover {
  background-color: var(--primary-green);
}

.logo-image {
  height: 70px;
  margin-top: 8px;
}

.page-title{
  margin-top: 10px;
  margin-bottom: 10px;
}
