.profile-picture {
  background-color: var(--primary-blue);
  width: 58px;
  height: 58px;
  border-radius: 50%;
  font-size: 1.9rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
