* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kitchen-food-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  width: 96vw;
  height: 14.6vh;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin-top: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-left: 2px;
}

.kitchen-card-image {
  border-radius: 50%;
  width: 5rem;
  height: auto;
}

.kitchen-food-card-image-container {
  position: relative;
}

.quantity-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-blue);
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  color: #eeeeee;
  font-weight: bolder;
}

.kitchen-card-title {
  /* display: flex;
    justify-content: center;
    align-items: center; 
    comment
    */
  font-weight: 600;
  font-size: 0.97rem;
  font-family: var(--font);
  padding: 0;
  margin: 0;
}

.kitchen-title-and-expiry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 0.8rem;
}

.kitchen-food-card-title-container {
  display: flex;
  max-width: 150px;
  min-width: 150px;
  justify-content: center;
  flex: 1;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.kitchen-food-card-expiry-container {
  display: flex;
  max-width: 150px;
  min-width: 150px;
  justify-content: center;
  flex: 1;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 10px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.food-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 1.5rem;
}

.kitchen-food-card-count-buttons button {
  font-size: 2.4rem;
  font-weight: 400;
  font-family: var(--font);
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.kitchen-food-card-use-btns {
  /* need to have these bttons in a column and centered in the card with a slight gap between them */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.kitchen-food-card-use-btn {
  background-color: white;
  border: none;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
